.container {
    padding: 20px 20px;
}
.container .amount {
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(40, 133, 150);
}
.container h1 {
    font-size: 30px;
    font-family: sans-serif;
    word-break: break-all;
}
.container .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 20px 0px;
}
.container .buttons input {
    height: 30px;
    width: auto;
    background-color: rgb(57, 195, 219);
    border: 2px solid rgb(40, 133, 150);
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.container .buttons img {
    height: 30px;
    width: 30px;
}
.container .answer {
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px;
    background-color: rgb(57, 195, 219);
    border: 2px solid rgb(40, 133, 150);
}